$lineColor: rgba(106,187,222,.25);

.hero{
  background-image: repeating-linear-gradient(0deg, $lineColor, $lineColor 1px, $lightGray 1px, $lightGray 20px, $lineColor 20px,$lineColor 21px, $lightGray 21px, $lightGray);
  background-size: 60px 60px;
  background-position: top left;
  position: relative;

  &::after{
    content: '';
    display: block;
    top: 0;
    left: 10px;
    height: 100%;
    width: 40px;
    position: absolute;
    background-image: radial-gradient($lightGray, $lightGray 5px, rgba(#000,.1) 10px, transparent 10px);
    background-size: 40px 40px;
  }

  @include grid-media($grid-xs, $grid-sm){
    &::after{
      display: none;
    }
  }
}

.hero-left{
  @include grid-column(5);
  @include grid-push(1);
  padding: 60px 0;

  @include grid-media($grid-xs){
    @include grid-column(4);
    @include grid-push(0);
    text-align: center;
  }

  @include grid-media($grid-xl){
    @include grid-column(6);
    @include grid-push(2);
  }

  @include grid-media($grid-sm){
    @include grid-column(4);
    @include grid-push(0);
  }
}

.logo{
  width: 400px;
  margin: 0 0 40px;

  @include grid-media($grid-xs, $grid-sm){
    max-width: 280px;
    margin: 0 auto 30px;
  }
}

.hero-title{
  font: $bold 1.6em $font;
  color: $red;
  position: relative;

  @include grid-media($grid-xs, $grid-sm){
    margin: 0 0 30px;
    font-size: 1.3em;
    padding: 30px 20px 20px;
    text-align: center;
  }

  &::after{ left: 30px; }
  &::before{ right: 30px; }
}

.hero-text{
  @include paragraph;
  margin-bottom: 30px;
  
  @include grid-media($grid-xs, $grid-sm){
    margin-right: 0;
  }
}

.hero-topics{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.hero-topicIcon{
  color: $red;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.hero-topic{
  list-style: none;
  margin-bottom: 10px;
  font: $bold 0.9em $font;
  color: $black;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @include grid-media($grid-xs, $grid-sm){
    width: 100%;
  }
}

.hero-form{
  @include grid-column(5);
  background: #fff;
  box-shadow: 0 0 10px rgba(#000,.1);
  
  @include grid-media($grid-xs){
    width: 100%;
    margin: 0;
  }

  @include grid-media($grid-xl){
    @include grid-column(4);
    @include grid-push(0);
  }
  
  @include grid-media($grid-sm){
    @include grid-column(4);
  }
}

.hero-AuthorImage{
  margin: 0;
}
.hero-formContent{
  padding: 40px 30px;
}

.subscribeForm-title{
  margin: 0 0 20px;
  font: $bold 1.5em $font;
  text-align: center;
  color: $darkGreen;
}