@mixin imgreplace {
  text-indent: -9000px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display: inline-block;
}

@mixin paragraph($color: $black) {
  font: 1em $font;
  line-height: 1.5;
  color: $color;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

@mixin title($color: $red) {
  font: $displayBold 2em $display;
  color: $color;
  margin: 0 0 30px;

  @include grid-media($grid-lg) {
    font-size: 2.2em;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin button($color1: $red, $color2: $orange, $size: big) {
  background-image: linear-gradient(to right, $color1, $color2);
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;

  @if $size == small {
    box-shadow: 0 0 20px rgba($color1, 0.5);
    font: $bold 0.8em $font;
    padding: 10px 20px;

    @include grid-media($grid-lg) {
      padding: 10px 20px;
    }

    @include grid-media($grid-xs) {
      padding: 10px 15px;
      font-size: 0.8em;
    }
  } @else {
    box-shadow: 0 0 40px rgba($color1, 0.5);
    font: $bold 0.9em $font;
    padding: 15px 30px;

    @include grid-media($grid-lg) {
      padding: 20px 40px;
    }

    @include grid-media($grid-xs) {
      padding: 15px 25px;
    }
  }

  &[disabled] {
    opacity: 0.4;
    cursor: no-drop;
  }

  &:active {
    outline: none;
    border: none;
  }

  &:hover {
    transform: translateY(-5px);
  }

  &.loading {
    cursor: no-drop;
    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: solid 3px $white;
      border-top-color: rgba($white, 0.5);
      vertical-align: bottom;
      margin-left: 15px;
      animation: spin 1s infinite linear;
    }
  }

  &.unavailable {
    background: rgba($gray, 0.5);
    color: $lightGray;
    box-shadow: none;
    cursor: no-drop;

    &:hover {
      transform: none;
    }
  }

  & > svg {
    margin-right: 10px;
    vertical-align: text-bottom;
    font-size: 1.1em;
  }
}
