@mixin imgreplace {
  text-indent: -9000px;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  display: inline-block;
}

@mixin paragraph($color: $black) {
  font: 1em $font;
  line-height: 1.5;
  color: $color;

  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

@mixin title($color:$red){
  font: $displayBold 2em $display;
  color: $color;
  margin: 0 0 30px;

  @include grid-media($grid-lg){
    font-size: 2.2em;
  }
}

@mixin button($color1: $red, $color2: $orange){
  background-image: linear-gradient(to right, $color1, $color2);
  border-radius: 5px;
  color: $white;
  font: $bold 0.9em $font;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 15px 35px;
  border: 0;
  text-decoration: none;
  box-shadow: 0 0 40px rgba($color1, .5);
  transition: all .5s;
  text-align: center;

  @include grid-media($grid-lg){
    padding: 20px 45px;
  }

  &[disabled] {
    opacity: 0.4;
    cursor: no-drop;
  }

  &:active {
    outline: none;
    border: none;
  }

  &:hover{
    transform: translateY(-5px);
  }

  &.loading {
    cursor: no-drop;
    &:after {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: solid 3px $white;
      border-top-color: rgba($white, 0.5);
      vertical-align: bottom;
      margin-left: 15px;
      animation: spin 1s infinite linear;
    }
  }

  &.unavailable{
    background: rgba($gray, .5);
    color: $lightGray;
    box-shadow:none;
    cursor: no-drop;

    &:hover{
      transform: none;
    }
  }
}
